footer {
svg {
    margin-bottom: -10px;
}


div {   
    background-color: $website-red;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;}
}