.a-propos{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    p, h2{
        font-size: clamp(32px, 2em, 3rem);
    }
}

#propos {
    border:5px solid $website-red;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 3.95px 3.95px 4.6px;
}

