

.xp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        font-size:  clamp(32px, 3em, 4rem);
    }
}


.job-wrapper{
    border:5px solid $website-red;
    border-radius: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 3.95px 3.95px 4.6px;
    div {
        margin-bottom: 20px;
    }
    .job-desc {
        font-weight: bold;
        font-size: clamp(25px, 1em, 2rem);
        text-align: center;
    }
    
    
    .title, .link{
        font-size: clamp(32px, 2em, 3rem);
        color: $website-red;

    }
    .link a, a:visited{
       text-decoration: none;
       color: $website-red;
       font-weight: bold;
     
    }
    .link {   
        :hover, :focus {
        color: rgb(255, 21, 60);
        
    }}

 
 
    .glide{
        .glide__track {  
           background-color: $website-red-dark  ;
          ul {
            margin: 0;
          }
           li {
               display: flex;
               justify-content: center;
           }
        }
       .glide__slide img{
            width: 100%;
            border-top: 5px solid $website-red;
            border-bottom: 5px solid $website-red;
        }
        .glide__bullets{
           
            display: flex;
            justify-content: center;
            height: 25px;
        }
        .glide__bullet {
            outline: none;
            margin-left:3% ;
            border: 3px solid $website-red;
            border-radius: 20px;
            width: 25px;
            height: 100%;
            :focus, :active {
                margin-left:3% ;
                border: 3px solid $website-red;
                border-radius: 20px;
                width: 25px;
                height: 100%;
            }
            
        }
        .glide__bullet--active {
            background-color:$website-red ;
         }
    }
    

 
.wrapper-test {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-wrapper {
    width: 100%;
}



}